body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }

  .cm-bg {
    background-image: linear-gradient(107.44deg, #E2E0FF 1.96%, #EBEAFA 16.15%, #F4F4F5 30.33%, #F5F5F5 71.54%, #E4E2FE 100%);
  }
  .common-form {
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
    margin: 0px;
  
  }
/* -----------title--------------- */
.cm-title{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 28px;
    line-height: 22px;
}

.ct-title {
  text-align: center;
}

.sub-title {
   color: rgba(99, 99, 100, 1);
   padding-bottom: 28px;
}
/* -------------image-------------- */
.cm-image {
  display: flex;
  justify-content: center;
  padding-top: 39px;  
  padding-bottom: 28px;
}

.cm-img {
max-width: 290px !important ;
max-height: 116px !important;
}
 /* ------------------BTN----------------- */
.cm-btn {
    background-color: rgba(96, 85, 242, 1);
    height: 41px;
}


.sub-btn {
  background-color: white;
  color: #6055F2;
  outline: none;
  border: none;
  box-shadow: none;
  padding-left: 5px;
  font-size: 14px;
}

.sub-btn:hover {
    color: #6055F2!important;
    background: white !important;
    border: none !important;
    box-shadow: none !important; 
}
  

/* -------input--------- */

.cm-input {
  width: 472px ;
  padding-bottom: 4px;
  height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 999; 
  display: flex;
  justify-content: center;
  align-items: center;
}
